.categoryPanel button{text-transform: capitalize !important ;}

.nav  li .submenu{visibility: hidden;}
.nav  li .submenu button{font-weight: 400 !important;}
.nav  li:hover .submenu{opacity: 1 !important; visibility: inherit;}
.nav li .submenu li:hover button{color: rgb(6, 87, 23) !important;}

.nav li .submenu li .submenu{top: 0px !important; left: 120% !important; opacity: 0 !important;}
.nav li .submenu li:hover .submenu{left: 100% !important; opacity: 1 !important;}

.nav li .submenu li .submenu button{color: black !important;}
.nav li .submenu li .submenu button:hover{color: rgb(85, 236, 26) !important;}